<nav>
  <div class="navbar">
    <div class="logo">
      TEST
    </div>
    <ul>
      <li>
        <a href="#">
              <span class="material-icons">
                home
              </span>
          Home
        </a>
      </li>
      <li>
        <a href="##">
              <span class="material-icons">
                info
              </span>
          About
        </a>
      </li>
      <li>
        <a href="###">
              <span class="material-icons">
                contact_page
              </span>
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
