<app-header></app-header>
<div class="searchtab">
  <h3>Check Card DeniedList</h3>
  <div class="smalltab">
    <p>
      Card Information
      <span class="material-icons">manage_search</span>
    </p>
    <!--<input type="text" name="cardNo" placeholder="Enter card's number"
           [(ngModel)]="cardNo" (ngModelChange)="Search()">
    <button type="submit" value="Search">
      <i class="material-icons">search</i>
    </button>-->
  </div>
</div>
<app-search></app-search>
<app-footer></app-footer>


<!--
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>CardNumber</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>DeniedList</th>
    </tr>
    <tr *ngFor='let c of card'>
      <td>{{c.id}}</td>
      <td>{{c.cardNo}}</td>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.deniedList}}</td>
    </tr>
  </thead>
</table>

-->
