
<div class="searchtab">
  <h3>กรุณากรอกข้อมูลบัตรเครดิต</h3>
  <div class="smalltab">
    <p>Card No</p>
    <input type="text" name="cardno" placeholder="กรอกข้อมูลบัตร"
    [(ngModel)]="cardNo" (ngModelChange)="Search()">
    <button type="submit" value="Search">
      <i class="material-icons">search</i>
    </button>
    <p>{{card.cardno}}</p>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>CardNumber</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>DeniedList</th>
    </tr>
    <tr>
      <td>{{card.id}}</td>
      <td>{{card.cardNo}}</td>
      <td>{{card.firstName}}</td>
      <td>{{card.lastName}}</td>
      <td>{{card.deniedList}}</td>
    </tr>
  </thead>
</table>
