.mat-form-field {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-family: 'Lexend',sans-serif;

}
td.mat-cell{
  padding: 10px 0 10px 0;
}

button{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend',sans-serif;
  font-size: 13px;
  border: 2px solid whitesmoke;
  letter-spacing: 1px;
}
table{
  background-color: rgb(122,69,89);
  font-family: 'Lexend', sans-serif;
  width: 80%;
  margin-left:10%;

}
.mat-paginator{
  width:80%;
  margin-left:10%;
  font-family:'Lexend',sans-serif;
}
th{
  background-color: rgb(90, 45, 63);
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:black !important;
}
::ng-deep.mat-form-field-underline {
  background-color: black !important;
  font-weight: 600;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: pink;
}
.highlight{
    background-color: rgb(151, 76, 105);
}
