.dialog h2{
  font-family: 'Lexend',sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.dialog hr{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin-top : 10px;
  margin-bottom: 25px;
}
.dialog h3{
  font-family: 'Lexend',sans-serif;
  font-size: 16px;
}
.dialog button{
  margin-left: 20px;
  border: 1.5px solid whitesmoke;
}

